<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moviezip.dao.mybatis.mapper.MovieMapper">
    <select id="searchMovieByKeyword" resultType="Movie">
        SELECT MOVIE.MOVIE_TITLE AS mvTitle, MOVIE.MOVIE_STAR AS mvStar, MOVIE.MOVIE_DETAIL AS mvDetail , MOVIE.MOVIE_DIRECTOR AS mvDirector, MOVIE.MOVIE_ID AS mvId
        FROM MOVIE
        WHERE MOVIE_TITLE LIKE '%' || #{keyword} || '%'
    </select>

    <select id="getRecentMovie" resultType="Movie">
        SELECT MOVIE.MOVIE_TITLE AS mvTitle, MOVIE.MOVIE_STAR AS mvStar, MOVIE.MOVIE_DETAIL AS mvDetail , MOVIE.MOVIE_DIRECTOR AS mvDirector, MOVIE.MOVIE_ID AS mvId, MOVIE.MOVIE_OPENDATE AS openDate
        FROM MOVIE
        WHERE MOVIE.MOVIE_opendate >= TRUNC(SYSDATE) - 365
    </select>
</mapper>