<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moviezip.dao.mybatis.mapper.ReservationMapper">
    <cache />

    <insert id="insertReservation" parameterType="Reservation">
        INSERT INTO RESERVATION
            (RESERVATE_DATE, SEAT, MOVIE_ID, ID)
        VALUES
            (#{date}, #{seat}, #{mvId}, #{id})
    </insert>

    <update id="updateReservation" parameterType="Reservation">
        UPDATE RESERVATION SET
            RESERVATE_DATE = #{date},
            SEAT = #{seat}
        WHERE RESERVATION_ID = #{reserveId}
    </update>

    <delete id="deleteReservation" parameterType="Long">
        DELETE FROM RESERVATION
        WHERE RESERVATION_ID = #{reserveId}
    </delete>
</mapper>
