<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moviezip.dao.mybatis.mapper.ReviewMapper">
<cache />

    <insert id="insertMyReview" parameterType="Review">
        INSERT INTO REVIEW
            (CONTENT, STAR, MOVIE_ID, IS_CRITIC)
        VALUES
            (#{content}, #{rvStar}, #{mvId}, #{is_Critic})
    </insert>

    <select id="getMyReviewList" parameterType="String" resultType="Review">
        SELECT CONTENT, STAR as rvStar, MOVIE.MOVIE_TITLE AS mvTitle, REVIEW_ID AS rvId
        FROM REVIEW
        JOIN MOVIE ON MOVIE.MOVIE_ID = REVIEW.MOVIE_ID
        WHERE WRITER = #{writer}
    </select>


    <delete id="deleteReview" parameterType="Long">
        DELETE FROM REVIEW
        WHERE REVIEW_ID = #{rvId}
    </delete>
    
    <select id="getReviewList" resultType="Review">
        SELECT CONTENT, STAR, REVIEW_TITLE, WRITER, REVIEW_ID as rvId
        FROM REVIEW
        WHERE MOVIE_ID = #{mvId}
    </select>

    <select id="getReviewDetail" parameterType="int" resultType="Review">
        SELECT CONTENT, STAR as rvStar, MOVIE.MOVIE_TITLE AS mvTitle, REVIEW_ID as rvId, MOVIE.MOVIE_IMG AS mvImg
        FROM REVIEW
                 JOIN MOVIE ON MOVIE.MOVIE_ID = REVIEW.MOVIE_ID
        WHERE REVIEW_ID = #{rvId}
    </select>


    <update id="updateReview" parameterType="Review">
        UPDATE REVIEW SET
            CONTENT = #{content},
            STAR = #{rvStar}
        WHERE REVIEW_ID = #{rvId}
    </update>

    <select id="getCriticReviews" resultType="Review">
        SELECT CONTENT, STAR AS rvStar, REVIEW_TITLE AS rvTitle, WRITER, REVIEW_ID AS rvId, REVIEW.MOVIE_ID AS mvId
        FROM REVIEW
            JOIN MOVIE ON MOVIE.MOVIE_ID = REVIEW.MOVIE_ID
        WHERE REVIEW.MOVIE_ID = #{mvId} and IS_CRITIC ='Y'
    </select>
</mapper>