<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moviezip.dao.mybatis.mapper.ReviewMapper">
<cache />

<insert id="insertMyReview" parameterType="Review">
    INSERT INTO REVIEW
    (CONTENT, STAR, MOVIE_ID)
    VALUES
    (#{content}, #{rvStar}, #{mvId})
</insert>
</mapper>