<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moviezip.dao.mybatis.mapper.UserMapper">

    <!-- 사용자를 가져옴 -->
    <select id="getUserById" resultType="User">
        SELECT * FROM USER_TABLE WHERE ID = #{id}
    </select>
    <update id="updateUserPassword">
        UPDATE USER_TABLE SET PASSWORD = #{newPassword} WHERE ID = #{id}
    </update>
    <select id="findUser" resultType="User">
        SELECT * FROM USER_TABLE WHERE HINT = #{hint} AND NICKNAME = #{nickname}
    </select>
    <update id="updateUserNickname">
        UPDATE USER_TABLE SET NICKNAME = #{newNickname} WHERE ID = #{id}
    </update>
    <select id="existingUserNickname" resultType="User">
        SELECT * FROM USER_TABLE WHERE NICKNAME = #{nickname}
    </select>
    <delete id="deleteUser">
        DELETE FROM USER_TABLE WHERE ID = #{id}
    </delete>
    <select id="findAllUser" resultType="User">
        SELECT * FROM USER_TABLE
    </select>
    <insert id="addInterest" parameterType="Interest">
        INSERT INTO INTEREST (ID, GENRE)
        VALUES
            (#{id}, #{genre})
    </insert>

</mapper>