<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moviezip.dao.mybatis.mapper.UserMapper">

    <!-- 사용자를 가져옴 -->
    <select id="getUserById" resultType="User">
        SELECT * FROM USER_TABLE WHERE ID = #{id}
    </select>

    <select id="getIdByUsername">
        SELECT ID FROM USER_TABLE WHERE USERID = #{username}
    </select>

    <update id="updateUserPassword">
        UPDATE USER_TABLE SET PASSWORD = #{newPassword} WHERE USERID = #{userId}
    </update>
    <select id="findUser" resultType="User">
        SELECT * FROM USER_TABLE WHERE HINT = #{hint} AND NICKNAME = #{nickname}
    </select>
    <update id="updateUserNickname">
        UPDATE USER_TABLE SET NICKNAME = #{newNickname} WHERE ID = #{id}
    </update>
    <select id="existingUserNickname" resultType="User">
        SELECT * FROM USER_TABLE WHERE NICKNAME = #{nickname}
    </select>
    <delete id="deleteUser">
        DELETE FROM USER_TABLE WHERE ID = #{id}
    </delete>
    <select id="findAllUser" resultType="User">
        SELECT * FROM USER_TABLE
    </select>
    <insert id="addInterest">
        INSERT INTO INTEREST (ID, GENRE)
        VALUES
            (#{id}, #{genre})
    </insert>
    <select id="findInterest" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM INTEREST
        WHERE ID = #{id}
    </select>
    <update id="updateInterest">
        UPDATE INTEREST SET GENRE = #{genre} WHERE ID = #{id}
    </update>
    <insert id="addUser" parameterType="User">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            SELECT SEQUENCE_USERID.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO USER_TABLE (ID, UserId, PASSWORD, NICKNAME, HINT)
        VALUES
        (#{id}, #{userId, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{nickname, jdbcType=VARCHAR}, #{hint, jdbcType=VARCHAR})
    </insert>

    <select id="findAllUserInterest" resultType="User">
        --         SELECT USER_TABLE.ID AS id, USER_TABLE.USER_ID AS user_id, USER_TABLE.PASSWORD AS password, USER_TABLE.NICKNAME AS nickname, USER_TABLE.HINT AS hint, INTEREST.GENRE AS interest
        SELECT USER_TABLE.ID AS id, USER_TABLE.UserId AS UserId, USER_TABLE.PASSWORD AS password, USER_TABLE.NICKNAME AS nickname, USER_TABLE.HINT AS hint, GENRE AS "interest.genre"
        FROM USER_TABLE
                 JOIN INTEREST ON INTEREST.ID = USER_TABLE.ID
        WHERE INTEREST.ID = #{id}
    </select>

    <select id="searchMovieByKeyword" resultType="Movie">
        SELECT MOVIE.MOVIE_TITLE AS mvTitle, MOVIE.MOVIE_STAR AS mvStar, MOVIE.MOVIE_DETAIL AS mvDetail , MOVIE.MOVIE_DIRECTOR AS mvDirector, MOVIE.MOVIE_ID AS mvId
        FROM MOVIE
        WHERE MOVIE_TITLE LIKE '%' || #{keyword} || '%'
    </select>

    <select id="findByUserId" resultType="User">
        SELECT *
        FROM USER_TABLE
        WHERE USERID =  #{userId, jdbcType=VARCHAR}
    </select>

    <select id="getUserById2" resultType="User">
        SELECT * FROM USER_TABLE WHERE ID = #{id}
    </select>

    <!-- UserMapper.xml -->
    <resultMap id="userResultMap" type="com.example.moviezip.domain.UserDto">
        <result property="nickname" column="nickname"/>
        <result property="hint" column="hint"/>
    </resultMap>

    <select id="findUserIdByInfo" resultType="java.lang.String">
        SELECT USERID
        FROM USER_TABLE
        WHERE NICKNAME = #{nickname} AND HINT = #{hint}
    </select>

    <select id="checkUserExistsById" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM USER_TABLE
        WHERE USERID = #{userId}
    </select>




</mapper>