<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.moviezip.dao.mybatis.mapper.WishMapper">
  <!-- 찜한 영화 가져오기, 영화의 제목과 별점을 Movie List 객체 형태로 가져옴-->
  <select id="getWishMovie" resultType="com.example.moviezip.domain.Movie">
    SELECT MOVIE.MOVIE_TITLE AS mvTitle,
           MOVIE.MOVIE_STAR AS mvStar,
           MOVIE.MOVIE_DETAIL AS mvDetail,
           MOVIE.MOVIE_DIRECTOR AS mvDirector,
           MOVIE.MOVIE_ID AS mvId,
           MOVIE.MOVIE_OPENDATE AS openDate,
           MOVIE.MOVIE_IMG AS mvImg
    FROM MOVIE
    JOIN MOVIE_WISH ON MOVIE.MOVIE_ID = MOVIE_WISH.MOVIE_ID
    WHERE MOVIE_WISH.ID = #{id}
    </select>

  <!-- 찜한 리뷰 가져오기, 리뷰의 작성자, 별점, 제목, 내용을 Review List 객체 형태로 가져옴-->
  <select id="getWishReview" resultType="com.example.moviezip.domain.Review">
    SELECT REVIEW.CONTENT AS content,
           REVIEW.STAR AS rvStart,
           REVIEW.REVIEW_TITLE AS rvTitle,
           REVIEW.WRITER AS writer,
           REVIEW.MOVIE_ID AS mvId,
           MOVIE.MOVIE_TITLE AS mvTitle,
           MOVIE.MOVIE_IMG AS mvImg
    FROM REVIEW_WISH
           JOIN REVIEW ON REVIEW_WISH.REVIEW_ID = REVIEW.REVIEW_ID
           JOIN MOVIE ON REVIEW.MOVIE_ID = MOVIE.MOVIE_ID
    WHERE REVIEW_WISH.USER_ID = #{id}
  </select>

  <!-- 찜한 리뷰 삭제 -->
  <delete id="deleteWishReview">
    DELETE FROM REVIEW_WISH
    WHERE REVIEW_WISH.USER_ID = #{id} AND REVIEW_WISH.REVIEW_ID = #{rvId}
  </delete>

  <!-- 내가 쓴 리뷰 가져오기, 영화 제목, 별점, 내용을 Review List 형태로 가져옴-->
  <select id="getMyReview" resultType="com.example.moviezip.domain.Review">
    SELECT REVIEW.CONTENT AS content,
           REVIEW.STAR AS rvStart,
           REVIEW.REVIEW_TITLE AS rvTitle,
           REVIEW.WRITER AS writer,
           REVIEW.MOVIE_ID AS mvId,
           MOVIE.MOVIE_TITLE AS mvTitle,
           MOVIE.MOVIE_IMG AS mvImg
    FROM REVIEW
           JOIN MOVIE ON REVIEW.MOVIE_ID = MOVIE.MOVIE_ID
    WHERE REVIEW.WRITER = #{userId}
  </select>

  <!--영화 찜하기-->
  <insert id="saveWishMovie">
    INSERT INTO MOVIE_WISH(ID,MOVIE_ID)
    VALUES (#{id} , #{movieId})
  </insert>
  <!--영화 찜했는지 아닌지-->
  <select id="checkMyWish" resultType="int">
    SELECT COUNT(*)
    FROM MOVIE_WISH
    WHERE ID = #{id} AND MOVIE_ID = #{movieId}
  </select>
  <!--영화 찜취소-->
  <delete id="deleteWishMovie">
    DELETE FROM MOVIE_WISH
    WHERE ID = #{id} AND MOVIE_ID = #{movieId}
  </delete>
</mapper>