<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
join page
<hr>
<form action="/joinProc" method="post" name="joinForm">
    <input type="text" name="user_id" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <input id="nickname" type="text" name="nickname" placeholder="nickname"/>
    <input id="hint" type="text" name="hint" placeholder="hint"/>
    <input type="submit" value="Join"/>
</form>
</body>
</html>